/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Importing all components file */
@import url("components/cards.css");
@import url("components/banner.css");
@import url("components/buttons.css");

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.container{
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 100px;
}

.content h2{
  display: flex;
  justify-content: center;
}

.footer{
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  background-color: rgb(28, 29, 27);
}

.footer a{
  font-size: 30px;
  color: rgb(8, 245, 166);
  margin: 10px;
}

.footer h3{
  justify-content: center;
  color: rgb(63, 65, 64);
}
