.banner{
  background-image: linear-gradient( rgba(44, 43, 43, 0.4) 0, rgba(46, 46, 46, 0.4) 100%), url("https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
  background-position: center;
  background-size: cover;
  padding: 200px 10px;
}
